<div class="checklist__container">
  <div *ngFor="let checkbox of checkboxes; let i = index" class="checklist-item">
    <label>
      <input type="checkbox" name="{{checkbox.name}}" [(ngModel)]="checkbox.checked" (change)="updateLocalStorage()">
      <p>{{checkbox.name | titlecase}}</p>
    </label>
    <button (click)="remove(i)" aria-label="Remove checkbox item" title="Remove">X</button>
  </div>

  <div class="add-new">
    <input type="text" name="new" [(ngModel)]="checkboxItem" (keyup.enter)="addNew()" placeholder="Add new item" aria-description="Press enter to add item">
  </div>
</div>

