@use '@angular/material' as mat;

@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';

@include mat.core();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--color-primary);
}

body {
  height: 100vh;
}


$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
));

.light {
  --accent: blue;
  --color-primary: rgb(39, 39, 39);
  --color-secondary: rgb(33, 5, 110);
  --bg-primary: linear-gradient(rgb(93, 198, 233), lightblue, white);
  --bg-secondary: linear-gradient( lightblue, white);
  --bg-tertiary:rgb(247, 246, 246);
  --bg-tertiary-hover: #ececec;

  @include mat.all-component-themes($light-theme);
}
.dark {
  --accent: blue;
  --color-primary: white;
  --color-secondary: lightblue;
  --bg-primary: linear-gradient(rgb(20, 2, 68), rgb(33, 5, 110), rgb(39, 39, 39));
  --bg-secondary: linear-gradient(rgb(33, 5, 110),rgb(39, 39, 39));
  --bg-tertiary: #4d4d4d;
  --bg-tertiary-hover: #575757;

  @include mat.all-component-themes($dark-theme);
}
